@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply to all elements for Firefox */
html,
body,
* {
  scrollbar-width: thin;
  scrollbar-color: #aaadf4 transparent;
}

/* WebKit-specific scrollbars (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Scrollbar track color */
  border-radius: 10px;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaadf4; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded scrollbar thumb */
  border: none; /* Remove any border */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaadf4; /* Thumb color on hover */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button,
a {
  @apply font-medium;
}

input,
button,
a {
  @apply rounded-xl sm:rounded-2xl;
}

label {
  @apply sm:text-xl text-base;
}

input {
  @apply border-0 appearance-none px-3 border-purple-400  focus:outline-none ring-purple focus:ring-0 focus:border-0;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
