@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply to all elements for Firefox */
html,
body,
* {
  scrollbar-width: thin;
  scrollbar-color: #aaadf4 transparent;
}

/* WebKit-specific scrollbars (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Scrollbar track color */
  border-radius: 10px;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaadf4; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded scrollbar thumb */
  border: none; /* Remove any border */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaadf4; /* Thumb color on hover */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button,
a {
  @apply font-medium;
}

input,
button,
a {
  @apply rounded-xl sm:rounded-2xl;
}

label {
  @apply sm:text-xl text-base;
}

input {
  @apply border-0 border-purple-400  focus:outline-none ring-purple focus:ring-0 focus:border-0 text-black py-[7px]  leading-tight appearance-none px-5;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.custom-range {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  padding: 0px;
  background: #b1b1b1; /* Ensure the background is transparent to avoid conflicts */
}

.custom-range::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  background: #6a6fd5; /* Thumb color */
  border-radius: 50%;
  border-color: #6a6fd5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px; /* Center the thumb with the track */
}

.custom-range::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background: #6a6fd5; /* Thumb color */
  border-radius: 50%;
  cursor: pointer;
  border-color: #6a6fd5;
}

.custom-range::-ms-thumb {
  height: 12px;
  width: 12px;
  background: #6a6fd5; /* Thumb color */
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}
