@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  scrollbar-width: thin;
  scrollbar-color: #aaadf4 transparent;
}

::-webkit-scrollbar {
  width: 4px;
  margin: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaadf4;
  border-radius: 10px;
  border: 0px solid #d7effa;
  margin: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaadf4;
  margin: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button,
a {
  @apply font-medium;
}

input,
button,
a {
  @apply rounded-xl sm:rounded-2xl;
}

label {
  @apply sm:text-xl text-base;
}

input {
  @apply border-0 appearance-none px-3 border-purple-400  focus:outline-none ring-purple focus:ring-0 focus:border-0;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
